header, main, footer { display: block; }

html, body {
    height: 100%;
    margin: 0px;
    padding: 0px;
}

body {
    font-family: "Roboto";
    min-height: 100%;
    height: auto !important;
    line-height: 160%;
    text-align: justify;
}

header {
    position: relative;
    width: 100%;
}

header img {
    width: 100%;
}

header h1 {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin: 0;
    font-size: 5em;
    font-family: "Josefin Sans";
    font-weight: 100;
    width: 100%;
    text-align: center;
    color: white;

    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
}

main {
    width: 100%;
    margin: 0 auto -4em;
    background-color: white;
}

main section {
    width: 90%;
    max-width: 700px;
    margin: 0 auto;
    padding: 30px 0;
    margin-bottom: 75px;

}

main section img {
    height: 200px;
    float: right;¨
    margin: 100px;
    border-radius: 12%;
    padding: 20px;
}

main section a {
    text-decoration: none;
    color: #004D40;
}

footer, .push {
    height: 30px;
}

footer {
    clear: both;
    width: 100%;
    background-color: #263238;
    text-align: center;
    color: #009688;
    position: fixed;
    bottom: 0;
    padding: 1.5em 0;
}

footer ul {
    list-style: none;
    margin: 10px auto;
    text-align: center;
    overflow: inherit;
    max-width: 550px;
    padding: 0;
}

footer ul li {
    float: left;
    width: 25%;
    text-align: center;
}

footer ul li a {
    font-family: "Roboto";
    font-size: 1.2em;
    font-weight: 100;
    color: #4DB6AC;
    text-decoration: none;
}

footer ul li a:hover {
    color: #B2DFDB;
}
