section {
  padding: 100px 0;
}

.container {
  max-width: 900px;
  margin: auto;
  padding: 0 30px;
}

.flex-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.img-me {
  border-radius: 100%;
  width: 300px;
  margin-right: 30px;
}

@media(max-width: 600px) {
  .flex-box {
    flex-direction: column;
    text-align: center;
  }

  .img-me {
    margin: auto;
  }
}
