section {
  position: relative;
  padding: 80px 0;
}

.container {
  max-width: 900px;
  margin: auto;
  padding: 0 30px;
}

.leaf {
  position: absolute;
  display: none;
}
.leaf1 {
  right: 100px;
  top: 0;
  width: 60px;
  opacity: 0.2;
}
.leaf2 {
  right: 150px;
  top: 110px;
  width: 50px;
  opacity: 0.3;
  transform: rotate(75deg);
}
.leaf3 {
  right: 145px;
  top: 210px;
  width: 40px;
  opacity: 0.1;
  transform: rotate(30deg);
}
.leaf4 {
  right: 130px;
  top: 300px;
  width: 60px;
  opacity: 0.15;
  transform: rotate(95deg);
}

.flex-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.img-bubbles {
  position: relative;
}

.img-me {
  z-index: 3;
  max-width: 300px;
  border-radius: 100%;
  margin-right: 30px;
  margin-left: 70px;
}

.green-bubble {
  position: absolute;
  right: 150px;
  bottom: -40px;
  z-index: -1;
  width: 250px;
  height: 250px;
  border-radius: 100%;
  background-color: var(--teal8);
  opacity: 0.5;
}

.leaf-bubble {
  position: absolute;
  right: 100px;
  bottom: 90px;
  z-index: -1;
  width: 280px;
  height: 280px;
  border-radius: 100%;
  background-color: var(--teal2);
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 80 40' width='80' height='40'%3E%3Cpath fill='%23278150' fill-opacity='0.51' d='M0 40a19.96 19.96 0 0 1 5.9-14.11 20.17 20.17 0 0 1 19.44-5.2A20 20 0 0 1 20.2 40H0zM65.32.75A20.02 20.02 0 0 1 40.8 25.26 20.02 20.02 0 0 1 65.32.76zM.07 0h20.1l-.08.07A20.02 20.02 0 0 1 .75 5.25 20.08 20.08 0 0 1 .07 0zm1.94 40h2.53l4.26-4.24v-9.78A17.96 17.96 0 0 0 2 40zm5.38 0h9.8a17.98 17.98 0 0 0 6.67-16.42L7.4 40zm3.43-15.42v9.17l11.62-11.59c-3.97-.5-8.08.3-11.62 2.42zm32.86-.78A18 18 0 0 0 63.85 3.63L43.68 23.8zm7.2-19.17v9.15L62.43 2.22c-3.96-.5-8.05.3-11.57 2.4zm-3.49 2.72c-4.1 4.1-5.81 9.69-5.13 15.03l6.61-6.6V6.02c-.51.41-1 .85-1.48 1.33zM17.18 0H7.42L3.64 3.78A18 18 0 0 0 17.18 0zM2.08 0c-.01.8.04 1.58.14 2.37L4.59 0H2.07z'%3E%3C/path%3E%3C/svg%3E");
  opacity: 0.7;
}

@media(min-width: 1200px) {
 .img-me {
   margin-left: 0px;
 }

 .leaf {
   display: block;
 }
}

@media(max-width: 700px) {
  .flex-box {
    flex-direction: column;
    text-align: center;
  }

  .img-me {
    margin: auto;
    width: 100%;
  }

  .green-bubble {
    bottom: -10px;
    right: -100px;
  }

  .leaf-bubble {
    right: 130px;
    bottom: -20px;
  }
}
