header.page-header {
  height: 500px;
  background-image: url("./img/duotone-forest-header.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-clip-path: polygon(100% 0, 100% 72%, 30% 100%, 0 78%, 0 0);
  clip-path: polygon(100% 0, 100% 72%, 30% 100%, 0 78%, 0 0);
  position: relative;
}
header.page-header h1 {
  padding: 200px 0;
  margin: 0;
  text-align: center;
  color: white;
}
header.page-header #logo {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 50px;
  height: 50px;
  display: inline-block;
  border-radius: 100%;
  border: 5px solid white;
  text-align: center;
}
header.page-header #logo #acronym {
  line-height: 50px;
  color: white;
  font-size: 28px;
}
